cni_plugins_path: "/opt/cni/bin"
cni_plugins_config_path: "/opt/cni/config"
cni_plugins_version: "1.9.0"

cni_plugins_arch_map:
  x86_64: "amd64"
  aarch64: "arm64"

cni_plugins_url: "https://github.com/containernetworking/plugins/releases/download/v{{ cni_plugins_version }}/cni-plugins-{{ ansible_system | lower }}-{{ cni_plugins_arch_map[ansible_architecture] }}-v{{ cni_plugins_version }}.tgz"

# CNI configuration files that should be created on the host. This should be a
# list of dictionaries with the following keys:
# - name: The name of the CNI configuration file (e.g., "10-mynet.conf")
# - content: The content of the CNI configuration file in JSON format
cni_configs: []
