log_level  = "DEBUG"
data_dir   = "{{ consul_data_dir }}"
datacenter = "lcy1"

advertise_addr = "{{ ansible_facts["default_ipv4"]["address"] }}"
bind_addr      = "{{ ansible_facts["default_ipv4"]["address"] }}"
client_addr    = "{{ ansible_facts["default_ipv4"]["address"] }}"

server           = true
bootstrap_expect = {{ groups['consul_server']|length }}

ui_config {
  enabled = true
}

retry_join = [
  {% for host in groups['consul_server'] %}
  "{{ hostvars[host]['ansible_facts']["default_ipv4"]["address"] }}",
  {% endfor %}
]

connect {
  enabled = true
}

service {
  name = "consul"
}
