{% if nomad_client_enabled %}
client {
  enabled           = true
  network_interface = "{{ nomad_client_network_interface }}"
  node_class        = "{{ nomad_client_node_class }}"
  node_pool         = "{{ nomad_client_node_pool }}"

{% if nomad_client_server_join | length > 0 %}
  server_join {
    retry_join = {{ nomad_client_server_join | to_json }}
  }
{% endif %}
}
{% endif %}
