# Delegate gathering of facts, so we can run this playbook with a limit when
# performing updates that require control of the Nomad process restart.
- hosts: all
  tasks:
    - name: "delegate_fact_gathering"
      ansible.builtin.setup:
      delegate_to: "{{ item }}"
      delegate_facts: true
      loop: "{{ groups['nomad_server'] }}"

- hosts: nomad_server
  roles:
    - role: common
      common_hostname: "{{ inventory_hostname }}"
      common_apt_packages:
        - "build-essential"
        - "git"
        - "jq"
        - "make"
        - "net-tools"
        - "unzip"

    - role: gantsign.golang
      golang_gopath: "/home/{{ ansible_user_id }}/go"
      golang_version: "1.25.5"
      golang_mirror: "https://dl.google.com/go/"
      golang_redis_sha256sum: "b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9"

    - role: tls
      tls_self_signed_generate:
        - agent-name: "{{ inventory_hostname }}"
          ip: "{{ ansible_facts['default_ipv4']['address'] }}"
          dns: "server.lcy1.nomad"

    - role: nomad
      nomad_config_template: "./templates/nomad_server.hcl.j2"
      nomad_region: "lcy1"
      nomad_tls_enabled: true
      nomad_tls_ca_cert: "./.tls/ca.pem"
      nomad_tls_cert: "./.tls/{{ inventory_hostname }}.pem"
      nomad_tls_cert_key: "./.tls/{{ inventory_hostname }}-key.pem"
