data_dir   = "{{ nomad_data_dir }}"
bind_addr  = "{{ ansible_facts["default_ipv4"]["address"] }}"
region     = "lcy1"

log_level            = "DEBUG"
log_include_location = true
log_file             = "/var/log/nomad.log"
enable_debug         = true

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

server {
  enabled          = true
  bootstrap_expect = "{{ groups['nomad_server']|length }}"

  server_join {
    retry_join = [
      {% for host in groups['nomad_server'] %}
      "{{ hostvars[host]['ansible_facts']["default_ipv4"]["address"] }}",
      {% endfor %}
    ]
  }

  raft_logstore {
    backend = "wal"
    wal {
      segment_size_mb = 64
    }
  }
}

acl {
  enabled = true
}

{% if consul_address | default('') | length > 0 %}
consul {
  address = "{{ ansible_facts["default_ipv4"]["address"] }}:8500"
}
{% endif %}

ui {
  enabled =  true

  label {
    text             = "local lcy1"
    background_color = "purple"
    text_color       = "#FFFFFF"
  }
}

{% if vault_address | default('') | length > 0 %}
vault {
  enabled = true

  default_identity {
    aud  = ["vault.io"]
    env  = false
    file = true
    ttl  = "1h"
  }
}
{% endif %}
