data_dir   = "/var/lib/nomad"
bind_addr  = "{{ hostvars[ "nomad_client_0" ][ "ansible_default_ipv4" ][ "address" ] }}"

log_level            = "DEBUG"
log_include_location = true
log_file             = "/var/log/nomad.log"
enable_debug         = true

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

client {
  enabled           = true
  network_interface = "{{ hostvars[ "nomad_client_0" ][ "ansible_default_ipv4" ][ "alias" ] }}"

  server_join {
    retry_join = ["{{ hostvars[ "nomad_server_0" ][ "ansible_default_ipv4" ][ "address" ] }}"]
  }
}

acl {
  enabled = true
}
