{% if nomad_tls_enabled %}
export NOMAD_ADDR=https://{{ nomad_bind_addr }}:4646
export NOMAD_CACERT={{ nomad_config_dir }}/tls/ca.pem
export NOMAD_CLIENT_CERT={{ nomad_config_dir }}/tls/cli.pem
export NOMAD_CLIENT_KEY={{ nomad_config_dir }}/tls/cli-key.pem
{% else %}
export NOMAD_ADDR=http://{{ nomad_bind_addr }}:4646
{% endif %}