- hosts: nomad_server

  # Variables that need to be changed, depending on who is running the playbook.
  vars:
    github_email: "2980562+jrasell@users.noreply.github.com"
    ssh_key_private_filename: "id_rsa"
    ssh_key_public_filename: "id_rsa.pub"

  roles:
    - role: common
      common_hostname: "{{ inventory_hostname }}"
      common_apt_packages: ["jq", "net-tools", "unzip"]

    - role: gantsign.golang
      golang_gopath: "/home/{{ ansible_user_id }}/go"
      golang_version: "1.25.5"
      golang_mirror: "https://dl.google.com/go/"
      golang_redis_sha256sum: "b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9"

    - role: helper
      helper_apt_packages:
        - "build-essential"
        - "git"
        - "make"
      helper_file_write_template:
        - src: "./templates/nomad_server.hcl.j2"
          dst: "{{ ansible_user_dir }}/nomad-server.hcl"
          owner: "{{ ansible_user_id }}"
          group: "{{ ansible_user_id }}"
      helper_file_copy_local:
        - src: "{{ hostvars['localhost']['ansible_user_dir'] }}/.ssh/{{ ssh_key_private_filename }}"
          dst: "{{ ansible_user_dir }}/.ssh/id_rsa"
          owner: "{{ ansible_user_id }}"
          group: "{{ ansible_user_id }}"
          mode: "600"
        - src: "{{ hostvars['localhost']['ansible_user_dir'] }}/.ssh/{{ ssh_key_public_filename }}"
          dst: "{{ ansible_user_dir }}/.ssh/id_rsa.pub"
          owner: "{{ ansible_user_id }}"
          group: "{{ ansible_user_id }}"
          mode: "600"
      helper_file_write_content:
        - content: |
            [user]
              email = {{ github_email }}
            [url "ssh://git@github.com/"]
              insteadOf = https://github.com/
          dst: "{{ ansible_user_dir }}//.gitconfig"
          owner: "{{ ansible_user_id }}"
          group: "{{ ansible_user_id }}"

  tasks:
    - name: "add_github_ssh_keys"
      ansible.builtin.shell: "ssh-keyscan github.com >> {{ ansible_user_dir }}/.ssh/known_hosts"
