# Delegate gathering of facts, so we can run this against the localhost only but
# collect the relevant data from the Nomad servers to populate our environment.
- hosts: all
  tasks:
    - name: "delegate_fact_gathering"
      ansible.builtin.setup:
      delegate_to: "{{ item }}"
      delegate_facts: true
      loop: "{{ groups['nomad_server'] }}"

- hosts: localhost
  vars:
    first_nomad_server: "{{ groups['nomad_server'] | first }}"
  roles:
    - role: helper
      helper_file_write_content_local:
        - content: |
            export NOMAD_ADDR="https://{{ hostvars[first_nomad_server]['ansible_facts']['default_ipv4']['address'] }}:4646"
          dst: "{{ playbook_dir }}/.envrc"
