[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_node_exporter_user }}
Group={{ prometheus_node_exporter_group }}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/node_exporter
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
